<table class="table table-bordered">
    <thead>
        <caption><strong>Project</strong></caption>
        <tr>
          <th>name</th>
          <th>role</th>
          <th>capacity</th>
        </tr>
    </thead> 
    <tbody>
        <tr>
            <td>{{data.projDetails.name}} </td>
            <td>{{data.projDetails.role}}</td>
            <td>{{data.projDetails.capacity}}</td>
        </tr>
      
    </tbody>
    <mat-dialog-actions>
        <button  mat-button mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
    
</table>